[phases.setup]
  nixPkgs = ["...", "python311", "python311Packages.pip"]

[phases.install]
  cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[phases.build]
  cmds = []

[start]
  cmd = "python bott.py"        # or whatever is your main file: bot1.py, bott.py, etc.
